name: CI

on:
  push:
    paths:
      - probe/**
      - package.json
      - .github/workflows/ci.yaml

  workflow_dispatch:
    inputs:
      version:
        required: true
        type: string
        description: For tag & release


jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version-file: probe/go.mod
          cache: false

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          working-directory: probe
          args: --allow-parallel-runners --verbose

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version-file: probe/go.mod
          cache-dependency-path: probe/go.sum

      - name: Run minio for integration test
        working-directory: probe
        # language=Bash
        run: docker compose run --detach --rm --remove-orphans --service-ports minio

      - name: Run test
        working-directory: probe
        # language=Bash
        run: go test -race ./...
        env:
          S3_HOST: localhost
          S3_PORT: 9090

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build
        uses: crazy-max/ghaction-xgo@v2
        with:
          go_version: '1.20'
          dest: build
          pkg: cmd/probe
          prefix: buildkit-state
          targets: linux/amd64,linux/arm,linux/arm64,darwin/amd64,darwin/arm64,windows/amd64
          v: true
          x: false
          ldflags: -extldflags -static -s -w
          trimpath: true
          working_dir: probe

      - name: Check binaries
        # language=Bash
        run: ls -ahl probe/build

      - name: Run UPX
        if: github.event_name == 'workflow_dispatch' || github.ref_name == 'main'
        uses: crazy-max/ghaction-upx@v2
        with:
          version: latest
          files: |
            probe/build/*
          args: --lzma --ultra-brute

      - name: Check binaries
        if: github.event_name == 'workflow_dispatch' || github.ref_name == 'main'
        # language=Bash
        run: ls -ahl probe/build

      - name: Check if version has been updated
        if: github.event_name == 'push' || github.ref_name == 'main'
        id: check
        uses: EndBug/version-check@v2

      - name: Create release
        if: github.event_name == 'workflow_dispatch' || (github.ref_name == 'main' && steps.check.outputs.changed == 'true')
        uses: softprops/action-gh-release@v1
        with:
          tag_name: 'v${{ steps.check.outputs.version || inputs.version }}'
          files: |
            probe/build/*
          generate_release_notes: true
          fail_on_unmatched_files: true

      - name: Update tag
        if: github.event_name == 'workflow_dispatch' || (github.ref_name == 'main' && steps.check.outputs.changed == 'true')
        uses: actions/publish-action@v0.2.2
        with:
          source-tag: 'v${{ steps.check.outputs.version || inputs.version }}'
