name: Release

on:
  push:
    branches:
      - master
    paths:
      - package.json
      - .github/workflows/release.yaml

  workflow_dispatch:
    inputs:
      version:
        required: true
        type: string
        description: Version for tag & release

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Check if version has been updated
        if: github.event_name != 'workflow_dispatch'
        id: check
        uses: EndBug/version-check@v2

      - name: Create release
        if: github.event_name == 'workflow_dispatch' || steps.check.outputs.changed == 'true'
        uses: softprops/action-gh-release@v1
        with:
          tag_name: 'v${{ steps.check.outputs.version || inputs.version }}'
          generate_release_notes: true

      - name: Update tag
        if: github.event_name == 'workflow_dispatch' || steps.check.outputs.changed == 'true'
        uses: actions/publish-action@v0.2.2
        with:
          source-tag: 'v${{ steps.check.outputs.version || inputs.version }}'
